body{
    margin: 0;
    padding: 0;
    background-color: #fff;
	color: #fff;
	
	background: linear-gradient(-45deg, rgb(177, 177, 177), rgb(177, 177, 177),rgb(70, 70, 70), rgb(70, 70, 70));
	background-size: 600% 600%;
	-webkit-animation: Gradient 10s linear infinite;
	-moz-animation: Gradient 10s linear infinite;
	animation: Gradient 10s linear infinite; 
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
#staz{
    text-align: center;
}
#banner{
	width: 100%;
	position: relative;
	height: auto;
}
#nochange{
	position: absolute;
	width: 100%;
	height: 100%;
}

.navbar-brand{
	margin-right: 0px;
	padding-left: 0px;
	color:red;
	font-size: 26px;
}
#logo{
	width: 70px;
	height: 55px;
	padding-right: 0px;
}
#home{
	width: 100%;
	text-align: center;
}
#wpisy{
	font-size: 50px;
	font-weight: bold;
	color: red;
}

.formField{
	font: inherit;
	border: 1px solid #ccc; 
	border-radius: 3px; 
	margin: 3px 0 10px 0; 
	padding: 3px 0
}
textarea.formField{
	width: 50%;
	 height: 150px
}
#sendBtn{
	cursor:pointer;
	background: #ccc; 
	background: linear-gradient(#ddd 0, #eee 100%); 
	border: 1px solid #ccc; 
	line-height: 32px; 
	font-size: 14px;
	padding: 0 25px; 
	border-radius: 3px
}
#send{
    margin-bottom: 8px;
}
#tabela{
	width: 50%;
	margin-left: 25%;
}
div {
	clear: left;
  }
.tg  {
	border-collapse:collapse;
	border-spacing:0;
}
.text{
	color:rgb(0, 0, 0);	
	float: left;
	margin-bottom: 39px;
}
.background-color{
	opacity: 0;
}
.table-left{
	padding-left: 17% !important;
}
.table-right{
	margin-right: 25% !important;
}
.posts{
	color:rgb(0, 0, 0);
	float: left;
}
.zdj{
	float: left;
	width: 250px;
	height:300px;
	display: block;
}
.galery-img-holder {
    overflow: hidden;
}

.galery-img-holder img {
    transition: transform .5s ease-in-out;
    padding: 0 !important;
}
  
.galery-img-holder:hover img {
    transform: scale(1.5) rotate(15deg);
}
.photo {
	width: 200px;
	height: 151.33px;
}

