
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-doc-text:before { content: '\e802'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-address-book-o:before { content: '\f2ba'; } /* '' */